.donor-card-container{
    /* border: 1px solid black; */
    min-width: 320px;
    height: 160px;
    padding: 15px;
    position: relative;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.2);
}

.donor-card-ratings{
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #ffbcc8d2;
    padding: 15px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.18);

}

.donor-card-header{
    margin: 0 0 10px 0;
}

.link-to-donor,.donor-info a{
    text-decoration: none;
    color: black;
}

.donor-info span{
    width: 20px;
    height: 20px;
    background-color: #e2dede;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    margin-right: 10px;
}

.donor-info{
    display: flex;
    align-items: center;
    margin: 6px 0;
}

.explore-donor{
    position: absolute;
    text-decoration: none;
    min-width: 30px;
    height: 30px;
    background-color: #ff506c;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    right: 12px;
    bottom: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: #fff;
    border-radius: 4px;
}
